.img-banner-contact {
  height: 505px;
  display: flex;
}
.text-contact {
  text-align: center;
}
h1 {
  font-size: 40px;
}
.form-register {
  width: 250px;
  background: #081644;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin-bottom: 7%;
}
