* {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
}

@media (max-width: 920px) {
  header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-list ul li {
    font-size: 0.7em;
  }
}
@media (max-width: 330px) {
  .menu-list ul li {
    font-size: 0.4em;
  }
}

.logo-portada {
  margin-right: 15px;
  height: 3.5em;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-list ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.menu-list ul li a:hover {
  color: rgb(223, 94, 94);
}

.menu-footer {
  display: flex;
  height: 80%;
  align-items: center;
}

.menu-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 12em;
  margin: auto;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(134, 134, 134);
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  min-width: 130px;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 40px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25 ease-in-out;
}

li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.dropdown a {
  font-size: 14px;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}
